body {
    Margin: 0;
    font-family: 'segoe UI', sans-serif;
    background-color: #f3f3f3;
    background-image: linear-gradient(rgba(235, 215, 215, 0.4), rgba(242, 234, 234, 0.4)), url('images/yoga18.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #333;
    text-align: center;
}

header {
    background-image: url('images/Yoga.jpg');
    background-size: cover;
    background-position: center;
    padding: 100px 20px;
    color: black;
}

h1 {
    font-size: 2em;
    margin: 0.5em 0;
}
 
.about, .quote, .hgallery, .contact {
    padding: 20px;
}

.gallery img {
    width: 90%;
    max-width: 400px;
    margin: 10px auto;
    border-radius: 10px;
}

.whatsapp-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #25D366;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.1em;
}

.whatsapp-button img {
    vertical-align: middle;
    width: 24px;
    margin-right: 8px;
}

